{
    "temp-dir" : "build/.coverage",
    "report-dir" : "build/.coverage-report",
    "reporter" : [
        "text-summary",
        "lcov"
    ],
    "all" : true,
    "exclude" : [ 
        "build/.coverage/**", 
        "build/.coverage-report/**" 
        ]
}